body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1d4eab 50%, #1aa3d2 50%);
    position: relative;
}
.container {
    display: none;
    text-align: center;
}
.counter {
    color: aliceblue;
    font-size: 7em;
    margin-bottom: 20px;
    margin: 20px;
    font-family: "Playwrite AR", cursive;
    font-weight: 100;
    width: 150px;
    height: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#contador1-btn {
    background-color: #1d4eab;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

#contador2-btn {
    background-color: #1aa3d2;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.show-btn, .reset-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background: linear-gradient(to right, #1d4eab 50%, #1aa3d2 50%);
    cursor: pointer;
}
.show-btn {
    bottom: 20px;
}
.resultados{
    width: 230px;
}
.reset-btn {
    top: 0px;
}
.orange-btn-container, .blue-btn-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    text-align: center;
}
.orange-btn-container {
    left: 0;
}
.blue-btn-container {
    right: 0;
}

.logos{
    width: 400px;
}


.counter-container1,  .counter-container2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    text-align: center;
}
.counter-container1 {
    left: 0;
}
.counter-container2 {
    right: 0;
}